{% extends 'base/base.html' %} {% block content %}
<div class="container mt-5">
  <h1 class="mt-5">My To Do List</h1>
  <button onclick="openPopup()" class="btn btn-primary mt-3">Add Task</button>

  <!-- Popup/Modal -->
  <div id="taskPopup" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closePopup()">&times;</span>
      <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="task_title">Task Title:</label>
          <input
            type="text"
            id="task_title"
            name="title"
            class="form-control"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Add Task</button>
      </form>
    </div>
  </div>

  <!-- Task List Table -->
  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">My tasks</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for task in data %}
      <tr>
        {% if task.complete %}
        <td><strike>{{ task.title }}</strike></td>
        <td>Completed</td>
        {% else %}
        <td>{{ task.title }}</td>
        <td>Incomplete</td>
        {% endif %}
        <td>
          <a href='{% url "updateTask" task.id %}' class="btn btn-secondary"
            >Update</a
          >
          <a href='{% url "deleteTask" task.id %}' class="mx-4 btn btn-danger"
            >Delete</a
          >
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="3">
          <h4>No To Do list created</h4>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  function openPopup() {
    document.getElementById("taskPopup").style.display = "block";
  }

  function closePopup() {
    document.getElementById("taskPopup").style.display = "none";
  }
</script>
{% endblock %}
